.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container > div {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stats {
    h2 {
        margin-bottom: 2rem;
    }
    button {
        padding: 0.5rem;
    }
}
